<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>addki</title>
</head>
<body>
<div class="container-md">
    <div id="top" class="row">
        <div class="col-md p-3">
            <div class="float-left">
                <a class="btn btn-link" th:href="@{/}">addki</a>
                <a class="btn btn-danger" th:href="@{/logout}">Log out</a>
            </div>
            <div class="float-right">
                <form th:action="@{/api/entry/print}" method="get">
                    <div class="form-row float-right">
                        <div class="col">
                            <select class="form-control" name="language">
                                <option th:each="language : ${languages}" th:value="${language}" th:text="${language}">
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <div th:if="${not languages.isEmpty()}">
                                <button type="submit" class="btn btn-primary">Print</button>
                            </div>
                            <div th:if="${languages.isEmpty()}">
                                <button type="submit" class="btn btn-primary" disabled="disabled">Print</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="main" class="row">
        <div class="col-md-3 p-3">
            <form th:action="@{/}" th:object="${collectEntriesFormRequest}" method="post">
                <div class="form-group">
                    <label>Words</label>
                    <textarea class="form-control" th:field="*{words}"></textarea>
                </div>
                <div class="form-group">
                    <label>Language</label>
                    <input type="text" class="form-control" th:field="*{language}"/>
                    <small class="form-text text-muted">Two-character language code. Leave blank for automatic language detection.</small>
                </div>
                <button type="submit" class="btn btn-primary">Collect</button>
            </form>
        </div>
        <div class="col-md-9 p-3">
            <div>
                <p class="float-left">
                    Showing <span th:text="${(entries.number * entries.size) + (entries.empty ? 0 : 1)}"></span> to
                    <span th:text="${(entries.number * entries.size) + entries.numberOfElements}"></span> of <span
                        th:text="${entries.totalElements}"></span>
                </p>
                <nav class="float-right">
                    <ul class="pagination">
                        <li class="page-item disabled" th:if="${entries.first}">
                            <a class="page-link" th:href="@{/(number=${entries.number-1},size=${entries.size})}">Previous</a>
                        </li>
                        <li class="page-item" th:if="${not entries.first}">
                            <a class="page-link" th:href="@{/(number=${entries.number-1},size=${entries.size})}">Previous</a>
                        </li>
                        <li class="page-item disabled" th:if="${entries.last}">
                            <a class="page-link"
                               th:href="@{/(number=${entries.number+1},size=${entries.size})}">Next</a>
                        </li>
                        <li class="page-item" th:if="${not entries.last}">
                            <a class="page-link"
                               th:href="@{/(number=${entries.number+1},size=${entries.size})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Language</th>
                        <th>Word</th>
                        <th>Definition</th>
                        <th>Alternate Form</th>
                        <th>Additional Info</th>
                        <th>Pronunciation</th>
                        <th>Contexts</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${entries}">
                        <td th:text="${entry.id}"></td>
                        <td th:text="${entry.status}"></td>
                        <td th:text="${entry.updated}"></td>
                        <td th:text="${entry.language}"></td>
                        <td th:text="${entry.word}"></td>
                        <td th:text="${entry.definition}"></td>
                        <td th:text="${entry.alternateForm}"></td>
                        <td th:text="${entry.additionalInfo}"></td>
                        <td th:text="${entry.pronunciation}"></td>
                        <td th:text="${entry.contexts}"></td>
                        <td th:text="${entry.tags}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
